body{
	background-color: rgb(229, 252, 249);
}

.header h1,h2,h3,h4,h5,h6,p{
	font-family: "Dancing Script", cursive;
	font-optical-sizing: auto;
	font-weight: 700;
	text-align: center;
    transform: translateY(100%);
    opacity: 0;
    animation: subir 2s ease-in-out forwards;
}

.imag{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

}

.imag img{
    height: 100px;
    width: 200px;
    transform: translateY(100%);
    opacity: 0;
    animation: subir 2s ease-in-out forwards;
}

.exclusive{
	color:rgb(0, 145, 202) ;
    transform: translateY(100%);
    opacity: 0;
    animation: subir 2s ease-in-out forwards;
}

#exclusive{
	color:rgb(0, 145, 202) ;
    transform: translateY(100%);
    opacity: 0;
    animation: subir 2s ease-in-out forwards;
}

#exclusive-number{
	color:rgb(0, 145, 202) ;
    transform: translateY(100%);
    opacity: 0;
    animation: subir 2s ease-in-out forwards;
}




.btton{
    text-align: center;
    color: white;
    margin-bottom: 10px;
    transform: translateY(100%);
    opacity: 0;
    animation: subir 2s ease-in-out forwards;
}

.btton:hover{
    cursor: pointer;
}


.btton a{
    padding: 10px;
    border: solid rgb(0, 145, 202)rgb(0, 145, 202) 2px;
    background-color: rgb(0, 145, 202) ;
    border-radius: 4px;
    box-shadow: 0px 1px 6px 4px rgb(190, 190, 190);
}


#countdown {
    display: flex;
    justify-content: center;
    font-family: "Dancing Script", cursive;
	align-content: center;
    font-size: 25px;
}
#countdown div {
    text-align: center;
	align-content: center;
    margin: 0 10px;
    transform: translateY(100%);
    opacity: 0;
    animation: subir 2s ease-in-out forwards;
}
#countdown span {
    font-weight: bold;
    color:rgb(0, 145, 202) ;
    transform: translateY(100%);
    opacity: 0;
    animation: subir 2s ease-in-out forwards;
}
.smalltext {
    font-size: 12px;
    color: #666;
}

.section2{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    background-color: rgb(181, 226, 226);
    
}

.cont{
    padding: 10px;
}

.img{
    display: flex;
    justify-content: center;
}

.img img{
    height: 130px;
    width: 130px;
    transform: translateY(100%);
    opacity: 0;
    animation: subir 2s ease-in-out forwards;
}


.firstcontent{
    margin: 20px;
    margin-bottom: 50px;
}

.head{
    padding-top: 40px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(229, 252, 249)), url(img/pixelcut-export.jpeg) ;
}

.text2{
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.celebration{
    margin-top: 40px;
    margin-bottom: 40px;
}

.celebration h1{
    margin-bottom:0%;
}

.celebration2{
    margin-top: 20px;
}
.celebration2 p{
    margin-bottom: 0px;
}
.celebration2 .btton{
    margin: 20px;
}
.repr{
    display: flex;
    justify-content: center;
    transform: translateY(100%);
    opacity: 0;
    animation: subir 2s ease-in-out forwards;
}
.reproductor {
    
    width: 70%; /* Ancho del reproductor */
    border: none; /* Sin borde */
    border-radius: 0px ; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */

}
.reproductor::-webkit-media-controls-panel {
    background-color: rgb(194, 237, 253) ; /* Color de fondo de los controles */
}

.vest{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.vest img{
    width: 140px ;
    height: 140px;
    transform: translateY(100%);
    opacity: 0;
    animation: subir 2s ease-in-out forwards;
}

.d p,h1{
    margin: 0px;
}
.mesa{
    margin-top: 40px;
}

.im2{
    display: flex;
    justify-content: center;
}
.mesa p{
    margin: 0px;
}

.im2 img{
    width: 200px;
    height: 200px;
    transform: translateY(100%);
    opacity: 0;
    animation: subir 2s ease-in-out forwards;
}

.confirmar{
    padding-top: 20px;
}

@keyframes subir {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}