body{
	/* background-color: rgb(228, 253, 250);*/
    background-image: url(img/fondo.jpg);
}

.header h1,h2,h3,h4,h5,h6{
	font-family: "Dancing Script", cursive;
	font-optical-sizing: auto;
	font-weight: 700;
	text-align: center;
}

.imag{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

}

.imag img{
    height: 100px;
    width: 200px;
}

.exclusive{
	color:rgb(0, 145, 202) ;
}

.btton{
    text-align: center;
    color: white;
    margin-bottom: 10px;
}


.btton a{
    padding: 10px;
    border: solid rgb(0, 145, 202)rgb(0, 145, 202) 2px;
    background-color: rgb(0, 145, 202) ;
    border-radius: 4px;
    box-shadow: 0px 1px 6px 4px rgb(190, 190, 190);
}


#countdown {
    display: flex;
    justify-content: center;
    font-family: "Dancing Script", cursive;
	align-content: center;
    font-size: 25px;
}
#countdown div {
    text-align: center;
	align-content: center;
    margin: 0 10px;
}
#countdown span {
    font-weight: bold;
    color:rgb(0, 145, 202) ;
}
.smalltext {
    font-size: 12px;
    color: #666;
}

.section2{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    background-color: rgb(181, 226, 226);
}

.cont{
    padding: 10px;
}

.img{
    display: flex;
    justify-content: center;
}

.img img{
    height: 100px;
    width: 200px;
}
.map{
    display: flex;
    justify-content: center;
}

.firstcontent{
    margin: 20px;
    margin-bottom: 50px;
}

.head{
    margin-top: 40px;
}
